i.bi{
     font-size: 16px;
}


.btn-profile{
     background-color: #f9b82c;
     border: none;
 }

 .bg-body-tertiary{
     background-color: rgb(102 176 250) !important;
 }

 li a{
     font-weight: 600;
 }
